{% extends 'base.html' %}

{% block BootstrapVersion %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>PESU's very own Ride Sharing app</h1>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Add a Ride</h3>
        <a href="/addRide"><img src="/static/images/road.png" alt="Add Ride" style="width: 100%; height: auto;"/></a>
      </div>
      <div class="col-sm-6">
        <h3>Find Your Ride</h3>
        <a href="/findRide"><img src="/static/images/pooling.jpeg" alt="Add Ride" style="width: 100%; height: auto; object-fit: cover; max-height: 30vh;"/></a>
      </div>
    </div>
  </div>
<br/>
<br/>
{% endblock %}